@import "modern-normalize/modern-normalize.css";

body {
  font-family: sans-serif;
}

picture,
img,
video {
  width: 100%;
  height: auto;
}

main {
  max-width: 600px;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid > * {
  margin: 0 auto;
  flex: 0 1 600px;
  overflow: hidden;
}

.screenshots {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.screenshots > * {
  flex: 0 1 48%;
  margin-bottom: 1rem;
}
