@import 'modern-normalize/modern-normalize.css';

body {
  font-family: sans-serif;
  padding: 1rem;
}

picture,
img,
video {
  width: 100%;
  height: auto;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.grid > * {
  margin: 0 auto;
  flex: 1 9 300px;
  overflow: hidden;
}

.screenshots {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.screenshots > * {
  flex: 0 1 48%;
  margin-bottom: 1rem;
}
